assets/reference_genome/all_sequences.fa
assets/annotation/SINV_anno_fixed.gtf
work/
assets/annotation/gtf/annotation.gtf
assets/annotation/SINV_anno_fixed.gtf
work/
.nextflow/
.nextflow.log
.vscode/
